/*Broser reset code*/
//  i am can include the file

@import "./style/reset";

::selection {
  background: lightcoral;
  color: white;
}

// TODO this is called sass variable
$bg-color: rgb(179, 62, 62);
$tx-color: white;

header {
  background-color: $bg-color;
  color: $tx-color;
}

// nesting sass
nav {
  background: #000;
  color: white;

  ul {
    list-style: none;
    padding: 4px;

    li {
      list-style: none;
      padding: 10px;
      margin: 10px;

      a {
        text-decoration: none;
        text-align: center;
        columns: gray;
      }

      a:hover {
        background-color: red !important;
        color: aqua !important;
      }
    }
  }
}

//  this is for the @mixin

@mixin p-style {
  font-size: 30px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-align: center;
  padding-top: 30px;
}

footer p {
  @include p-style;
}

// to pass a para miter

// @mixin p-style($va, $paddingl) {
//   background: $val;
//   font-size: $paddingl;
// }

// .hela p {
//   @include p-style(green);
// }

.hela {
  @extend header;
  padding: 100px;
  text-decoration: line-through;
  text-align: center;
  font-size: 30px;
}

@mixin ifelse($value) {
  @if $value == 500px {
    font-size: 100px;
  } @else if $value == 300px {
    font-size: 40px;
  }
}

.ifelse h3 {
  @include ifelse(500px);
}

.ifelse h1 {
  @include ifelse(300px);
}

// this is for  the loop

// [class*="col-"] {
//   float: left;
// }
// .col-1 {
//   width: 8.33%;
// }
// .col-2 {
//   width: 16.66%;
// }
// .col-3 {
//   width: 25%;
// }
// .col-4 {
//   width: 33.33%;
// }
// .col-5 {
//   width: 41.66%;
// }
// .col-6 {
//   width: 50%;
// }
// .col-7 {
//   width: 58.33%;
// }
// .col-8 {
//   width: 66.66%;
// }
// .col-9 {
//   width: 75%;
// }
// .col-10 {
//   width: 83.33%;
// }
// .col-11 {
//   width: 91.66%;
// }
// .col-12 {
//   width: 100%;
// }

// .row::after {
//   clear: both;
//   content: "";
//   display: table;
// }

@for $f 1 through 12 {
}
